@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.experienceBox {
  display: flex;
  flex-direction: column;
  border: 2px dotted white;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.experienceBox > p {
  font-family: "Josefin Sans";
  letter-spacing: 1px;
  font-size: 16px;
}
